/* .row {
     display: flex;
}
 .row .col {
     flex: 1;
     border: solid;
}
 */


.main-split .split-center-content {
	border: 0px solid red;
	display: table;
	height: 90vh;
	margin: auto;
	margin-top: 30px;
}

@media only screen and (max-width:1128px) {

	/* #container {
         width: 1128px;
    }
     */
	.main-split .split-center-content {
		width: 94%;
	}
}

.main-split .split-header {
	border: 0px solid red;
	font-size: 1.2vw;
	height: 40px;
	line-height: 40px;
}

.main-split .split-left,
.main-split .split-right {
	border: 0px solid #09f;
	/* display: none; */
	position: relative;
}

.main-split .split-left {
	background: #0e1321;
	float: left;
}

.main-split .split-left-nav {
	border: 0;
	border-bottom: 1px solid rgba(238, 239, 243, 0.17);
	counter-reset: number;
	display: table;
	height: 55px;
	text-align: center;
}

.main-split .split-left-nav a {
	color: rgba(255, 255, 255, .4);
	display: inline-block;
	margin-left: 50px;
}

.main-split .split-left-nav a::before {
	border: 1px solid rgba(224, 224, 224, 51%);
	border-radius: 50%;
	content: counter(number);
	counter-increment: number;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	text-align: center;
	width: 30px;
}

.main-split .split-left-nav a.active {
	color: #fff;
}

.main-split .split-left-nav a.active::before {
	border: 1px solid #fff;
}

.main-split .split-left-nav a:first-child {
	margin-left: 0;
}

.main-split .split-left-nav-hide {
	visibility: hidden;
}

.main-split .split-left-main {
	border: 0px solid red;
	margin-top: 100px;
	/* bottom: 0; */
	/* display: table;
	margin: auto; */
}

.main-split .split-left-header {
	color: #ffffff;
	font-size: 34px;
	margin-top: 70px;
}

.main-split .split-left-subheader {
	color: rgba(255, 255, 255, .5);
	font-size: 20px;
	line-height: 30px;
	margin-top: 20px;
	width: 400px;
}

.main-split .split-left-subheader span {
	color: #2a6ed5;
}

.main-split .split-left-button {
	height: 40px;
	width: 100px;
}

/* Welcome Comienza */
#welcome-form {
	margin-top: 80px;
}

#welcome-form input {
	box-shadow: none;
	width: 80%;
}

#welcome-form em {
	margin-right: 100px;
}

#password-strength-bar-list {
	list-style: none;
	margin-top: 5px;
}

#password-strength-bar-list li {
	background: rgba(255, 255, 255, .1);
	display: inline-block;
	height: 5px;
	width: 21.9px;
}

/* Welcome Extremos */
/* Seed Phrase Comienza */
#seed-phrase-pills {
	background: rgba(255, 255, 255, .03);
	border: 0px solid red;
	border-radius: 4px;
	display: table;
	height: 100px;
	margin-top: 50px;
	padding: 40px 10px;
	text-align: center;
	width: 480px;
}

#seed-phrase-pills .pill {
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	height: 30px;
	margin-left: 10px;
	margin-top: 20px;
	padding: 10px 15px;
}

#seed-phrase-confirm {
	border: 0px solid red;
	clear: both;
	display: table;
	margin-top: 20px;
	width: 400px;
}

#seed-phrase-confirm input[type='checkbox'],
#seed-phrase-confirm>div {
	float: left;
}

#seed-phrase-confirm input[type='checkbox'] {
	background: none;
	border: 1px solid red;
}

#seed-phrase-confirm>div {
	border: 0px solid red;
	display: table;
	line-height: 17px;
	margin-left: 10px;
	width: 250px;
}

#seed-phrase-confirm label,
#seed-phrase-confirm span {
	clear: both;
	display: block;
	float: left;
	font-size: 14px;
}

#seed-phrase-confirm label {
	color: #fff;
}

#seed-phrase-confirm span {
	color: rgba(255, 255, 255, 0.5);
	margin-top: 6px;
}

/* Seed Phrase Extremos */
/* Verify Seedphrase Comienza */
#verify-seedphrase-instruction,
#verify-seedphrase-list {
	width: 480px;
}

#verify-seedphrase-instruction {
	background: url('../icon/d.svg') no-repeat 20px 50%;
	background-size: 30px 30px;
	border: 1px solid rgba(255, 255, 255, 0.38);
	border-radius: 5px;
	display: table;
	font-size: 14px;
	margin-top: 50px;
	padding: 15px 60px;
	position: relative;
}

#verify-seedphrase-instruction .close {
	background: url('../icon/close-button.svg') no-repeat 50%;
	background-size: 11px 11px;
	border: 0;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

#verify-seedphrase-instruction p {
	color: rgba(255, 255, 255, .6);
	display: block;
	margin-top: 8px;
}

#verify-seedphrase-instruction p span {
	color: #01d645;
}

#verify-seedphrase-instruction p:first-child {
	margin-top: 0;
}

#verify-seedphrase-list {
	background-image: linear-gradient(to top, rgba(0, 0, 0, .03), rgba(255, 255, 255, .02));
	border: 0px solid red;
	color: rgba(255, 255, 255, .8);
	counter-reset: phrase-counter;
	display: table;
	margin-top: 20px;
	padding: 30px 0;
}

#verify-seedphrase-list .phrase {
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: 5px;
	display: inline-block;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin-left: 60px;
	margin-top: 20px;
	min-width: 150px;
	padding: 0 12px;
	position: relative;
}

#verify-seedphrase-list .phrase:nth-child(2n) {
	margin-left: 100px;
}

#verify-seedphrase-list .phrase::before {
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: 50%;
	content: counter(phrase-counter);
	counter-increment: phrase-counter;
	height: 33px;
	left: -45px;
	line-height: 33px;
	position: absolute;
	text-align: center;
	width: 33px;
}

#verify-seedphrase-list .active::before {
	background: #057aff;
	color: #fff;
}

#verify-seedphrase-form button {
	background-color: #1b202d;
	color: rgba(255, 255, 255, .7);
}

/* Verify Seedphrase Extremos */
/* Login Comienza */
#login-form {
	margin-top: 80px;
}

#login-form input {
	box-shadow: none;
	width: 80%;
}

#login-form em {
	margin-right: 100px;
}

#login-form a {
	color: #ffffff;
}

/* Login Extremos */
/* Restore Extremos */
#restore-form {
	margin-top: 50px;
}

#restore-form textarea {
	box-shadow: none;
}

#restore-form button[type='submit'] {
	width: 150px;
}

#restore-form button[type='button'] {
	background: none;
	color: rgba(255, 255, 255, .48);
}

.account-address {
	background-color: rgba(242, 244, 248, .06);
	border-radius: 4px;
	color: rgba(255, 255, 255, .5);
	display: table;
	height: 90.8px;
	margin-top: 20px;
	padding: 0 9px;
	width: 100%;
}

.account-address img,
.account-address div {
	float: left;
}

.account-address img {
	height: 60px;
	margin-top: 13px;
}

.account-address div {
	display: table;
	padding-left: 20px;
}

.account-address div h3 {
	font-size: 15px;
	margin-top: 20px;
}

.account-address div span {
	display: block;
	font-size: 14px;
	line-height: 1.63;
	margin-top: 10px;
}

/* Restore Extremos */
.main-split .split-right {
	background: #151a27;
	float: right;
}

.main-split .split-right-nav {
	border: 0px solid #09f;
	border-spacing: 20px 0;
	box-sizing: border-box;
	display: table;
	float: right;
	height: 100%;
}

.main-split .split-right-nav a {
	color: rgba(255, 255, 255, .4);
	display: table-cell;
}

.main-split .split-right-main {
	border: 0px solid #09f;
	display: table;
	margin: auto;
	margin-top: 35%;
}

.main-split .split-right-content {
	border: 0px solid red;
	display: table;
	margin: auto;
}

.main-split .split-right-content-image {
	display: block;
	height: 290px;
	margin: auto;
	width: 290px;
}

.main-split .split-right-article {
	color: rgba(255, 255, 255, .8);
	font-size: 15px;
	line-height: 22px;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	width: 450px;
}

.main-split .split-right-content-switcher-list {
	list-style: none;
	margin-top: 60px;
	text-align: center;
}

.main-split .split-right-content-switcher-list li {
	background: rgba(255, 255, 255, .1);
	display: inline-block;
	height: 4px;
	margin-left: 20px;
	width: 100px;
}

.main-split .split-right-content-switcher-list li.active {
	background: #3784ea;
}
