html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	background: transparent;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}
html {
	height: 100%;
}
body {
	color: #292f33;
   /* font-family: 'Montserrat-Medium',helvetica,monospace,sans-serif !important;
	*/
	font-family: 'Graphik-Regular',helvetica,monospace,sans-serif !important;
	font-size: 14px;
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}
input, select {
	box-sizing: border-box;
	outline: none;
	vertical-align: middle;
}
button {
	outline: none;
	font-family: inherit;
}
#overlay, #container {
   /* background: red;
	*/
	height: 100%;
	margin: auto;
	width: 100%;
}
#overlay {
	background-color: rgba(25, 31, 47, .8);
	border: 0px solid #09f;
	display: none;
	overflow: auto;
	position: fixed;
	z-index: 5000;
}
#container {
	border: 0px solid red;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	select { 
		-webkit-appearance: menulist-button !important; 
	} 
}
