html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}

html {
	height: 100%;
}

body {
	color: #292f33;
	/* font-family: 'Montserrat-Medium',helvetica,monospace,sans-serif !important;
	*/
	font-family: 'Graphik-Regular', helvetica, monospace, sans-serif !important;
	/* font-family: 'Nunito', sans-serif !important; */
	font-size: 14px;
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	box-sizing: border-box;
	outline: none;
	vertical-align: middle;
}

button {
	outline: none;
	font-family: inherit;
}

#overlay,
#container {
	/* background: red; */
	height: 100%;
	margin: auto;
	width: 100%;
}

#overlay {
	background-color: rgba(25, 31, 47, .8);
	border: 0px solid #09f;
	// display: none;
	overflow: auto;
	position: fixed;
	z-index: 10000;
}


#container {
	border: 0px solid red;
}

.roller {
	border: 0px solid red;
	display: inline-block;
	font-size: 17px;
	height: 36px;
	width: 36px;
}


.roller .circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 2;
}

.roller .circle {
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}

}

.roller-yellow .circle {
	stroke: #ffd691;
}


.roller-bg-black .circle-bg {
	stroke: rgba(255, 255, 255, 0.21);
}



.roller-green .circle {
	stroke: #4CC790;
}

.roller-blue .circle {
	stroke: #3c9ee5;
}

.roller .percentage {
	fill: #fff;
	font-size: 0.5em;
	text-anchor: middle;
}

.select,
.select span,
.select li {
	height: 40px;
}

// .select
// {
// 	border: 0px solid red;
// 	font-size: 12px;
// 	overflow: hidden;
// 	position: relative;
// 	transition: all .5s;
// 	z-index: 1000;
// }

.select {
	font-size: 14px;
	min-height: 28px;
	overflow: hidden;
	position: relative;
	z-index: 3000px;
	border: none;
	border-radius: 8px;
}


.select span,
.select ul {
	background-color: #293555;
	clear: both;
	display: table;
	border: none;
	float: left;
	width: 100%;
}

.select span,
.select li {
	height: 40px;
	line-height: 40px;
	padding-left: 35px;
	padding-right: 30px;
	position: relative;
	outline: none;
	transition: all 1s;

	&:hover {
		background-color: #364469;
		cursor: pointer;
	}
}

.select li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


.select span {
	background-image: url('../icon/arrow-down.png');
	background-position: right 10px center;
	background-repeat: no-repeat;
	// border-radius: 30px;
	border-bottom: 1px solid rgba(238, 238, 238, .1);
	display: block;
	font-weight: bold;
}


.select ul {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	float: left;
	list-style-type: none;
}


.select .gray {
	color: #b3b3b3;
}

.select .green {
	color: #12b878;
}

.select .orange {
	color: #ffd691;
}

.select .red {
	color: #e26978;
}


.select span::before,
.select .gray::before,
.select .green::before,
.select .orange::before,
.select .red::before {
	border-radius: 50%;
	bottom: 0;
	content: '';
	height: 10px;
	left: 15px;
	margin: auto;
	position: absolute;
	top: -1px;
	width: 10px;
}


.select .gray::before {
	background: #b3b3b3;
}

.select .green::before {
	background: #12b878;
}


.select .orange::before {
	background: #ffd691;
}


.select .red::before {
	background: #e26978;
}



.select-expand {
	height: auto;
}

.select-expand span {
	border-bottom: 1px solid rgba(238, 238, 238, .1);
	border-radius: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}




@media screen and (-webkit-min-device-pixel-ratio:0) {
	select {
		-webkit-appearance: menulist-button !important;
	}
}

.h100vh {
	height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
	{
	opacity: 0;
}


a.btn-back:hover,
a.btn-back:focus {
	text-decoration: none;
	color: #ffffff !important;
}

.slide-left-enter,
.slide-right-leave-active {
	opacity: 0;
	-webkit-transform: translate(30px, 0);
	transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
	opacity: 0;
	-webkit-transform: translate(-30px, 0);
	transform: translate(-30px, 0);
}


.router-view {
	position: absolute;
	right: 0;
	transition: all 1s cubic-bezier(.55, 0, .1, 1);
	width: 100%;
}

.btn-click-effect {
	position: relative;
	cursor: pointer;

	&:active {
		transform: scale(0.98, 0.95);
	}
}
